{
    "plugins": [
        "stylelint-order",
        "stylelint-config-rational-order/plugin"
    ],
    "extends": [
        "stylelint-config-standard",
        "stylelint-config-rational-order",
        "stylelint-config-prettier"
    ],
    "rules": {
        "indentation": 4,
        "at-rule-no-unknown": null
    }
}
