@font-face {
    font-weight: normal;
    font-family: aicon;
    font-style: normal;
    src: url('~assets/fonts/aicon.ttf') format('truetype'),
        url('~assets/fonts/aicon.woff') format('woff'),
        url('~assets/fonts/aicon.svg#aicon') format('svg');
}
