body {
    --color: #696c7e;
    --background-color: #1a1a20;
    --hover-background-color: #fff1;
    --active-background-color: #0005;
    --line-color: #292933;
    --font-family: Segoe WPC, Segoe UI, sans-serif;

    /* titlebar */
    --titlebar-exit-hover-color: #eee;
    --titlebar-exit-hover-background-color: #d41224;
}
