/* global variables */
$main-font-family: Segoe WPC, Segoe UI, sans-serif;
$main-background: #1a1a20;
$main-color: #696c7e;

$titlebar-border-color: #292933;
$titlebar-exit-background: #d41224;
$titlebar-exit-color: #eee;
$titlebar-button-hover-background: #fff1;
