::-webkit-scrollbar {
    width: 0.75rem;
    height: 0.75rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--line-color);
    background-clip: padding-box;
}

::-webkit-resizer,
::-webkit-scrollbar-corner {
    background: transparent;
}

.scroll {
    @apply rounded overflow-hidden;

    &-wrapper {
        @apply max-h-full overflow-x-hidden overflow-y-scroll;
    }
}
